@font-face {
    font-family: 'source_sans_proregular';
    src: url(../fonts/'sourcesanspro-regular.woff2') format('woff2'),
         url(../fonts/'sourcesanspro-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
p {
    font-family: "source_sans_proregular" ,cursive ;
}
#gFont {
    font-family: 'Open Sans Condensed', sans-serif;
}